.container {
  padding: 0 2rem;
  max-width: 1180px;
  margin: 0 auto;
}

.formSearch {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.formSearch form {
  display: flex;
  justify-content: center;
}

.formSearch input {
  margin-bottom: 40px;
  height: 50px;
  width: 400px;
  border: 0;
  background-color: #000;
  color: white;
  border-radius: 20px 0px 0px 20px;
  padding: 0 20px;
  font-size: 16px;
  outline: 0;
}

.formSearch button {
  height: 50px;
  background-color: #800000;
  font-weight: bold;
  color: #fff;
  padding: 10px 25px;
  border-radius: 0px 20px 20px 0px ;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.formSearch button:hover {
  background-color: #0a0a0a;
  color: white;
}

.titleContainer {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  justify-content: center;
}

.titleContainer h1 {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
}
.titleContainer h1 span{
  color: #c1c1c1;
}
.img{
  transition: 900ms;
  width: 280px;
  height: 398px;
}
.image{
  border-radius: 20px 20px 0 0;
}
.img:hover{
  opacity: 0.8;
  cursor: pointer;
  transition: 500ms;
} 
.moviesCointainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: enter-movie 3s ease-in-out;
 
}
@keyframes enter-movie {
  0%{
    opacity: 0;
  }
  
}
.movie{
 margin: 10px;
 width: 280px;
}
.movie:hover{
  scale: 0.98;
}
.moviesCointainer p {
  color: #000;
  font-weight: bold;
}
.moviesCointainer .title {
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #1c1c1c;
}
.moviesCointainer span {
  padding: 10px;
  color: yellow;
 
}
.moviesCointainer p{
  background-color: #0a0a0a;
  color: white;
  padding: 20px 0 20px 0;
  margin:0px;
  text-align: center;
}
.moviesCointainer .vote_average{
  border-radius: 0  0 20px 20px;
}
.paginationContainer {
  display: flex;
  justify-content: center;
  margin: 50px 0;
 

}
.title{
  color: white;
}
.details h1{
  color: white;
  text-align: center;
}
